@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__categories/header__categories.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__nav/header__nav.css");

@import url("./blocks/search/search.css");
@import url("./blocks/search/__input/search__input.css");
@import url("./blocks/search/__button/search__button.css");
@import url("./blocks/search/__icon/search__icon.css");

@import url("./blocks/shopping-cart/shopping-cart.css");
@import url("./blocks/shopping-cart/__title/shopping-cart__title.css");
@import url("./blocks/shopping-cart/__list/shopping-cart__list.css");
@import url("./blocks/shopping-cart/__footer/shopping-cart__footer.css");
@import url("./blocks/shopping-cart/__subtotal/shopping-cart__subtotal.css");

@import url("./blocks/cart-product/cart-product.css");
@import url("./blocks/cart-product/__image/cart-product__image.css");
@import url("./blocks/cart-product/__info/cart-product__info.css");
@import url("./blocks/cart-product/__name/cart-product__name.css");
@import url("./blocks/cart-product/__price/cart-product__price.css");
@import url("./blocks/cart-product/__cant/cart-product__cant.css");

@import url("./blocks/title/title.css");

@import url("./blocks/filter-section/filter-section.css");

@import url("./blocks/dropdown/dropdown.css");
@import url("./blocks/dropdown/__box/dropdown__box.css");
@import url("./blocks/dropdown/__header/dropdown__header.css");
@import url("./blocks/dropdown/__item/dropdown__item.css");
@import url("./blocks/dropdown/__list/dropdown__list.css");
@import url("./blocks/dropdown/__title/dropdown__title.css");

@import url("./blocks/products-container/products-container.css");

@import url("./blocks/card/card.css");
@import url("./blocks/card/__footer/card__footer.css");
@import url("./blocks/card/__image/card__image.css");
@import url("./blocks/card/__price/card__price.css");
@import url("./blocks/card/__title/card__title.css");
@import url("./blocks/card/__old-price/card__old-price.css");

@import url("./blocks/sidebar/sidebar.css");
@import url("./blocks/sidebar/__item/sidebar__item.css");
@import url("./blocks/sidebar/__list/sidebar__list.css");
@import url("./blocks/sidebar/__title/sidebar__title.css");
@import url("./blocks/sidebar/__header/sidebar__header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
}
