.header__nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.header__nav i {
  cursor: pointer;
  font-size: 25px;
}

.header__nav > span {
  position: absolute;
  border-radius: 50%;
  right: -10px;
  background-color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  font-size: 13px;
  height: 0;
  overflow: hidden;
  color: white;
  font-weight: 600;
}
.header__nav > i:first-child {
  display: none;
}
@media screen and (max-width: 992px) {
  .header__nav {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .header__nav > i:first-child {
    display: inline;
  }
  .header__nav {
    width: 120px;
  }
}
