.header {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 15%;
  padding-left: 20px;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid gray;
}

@media screen and (max-width: 1440px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}
