.header__categories {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.header__categories span {
  font-size: 20px;
  margin-left: 10px;
}
.header__categories i {
  font-size: 25px;
}
