.header__categories {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.header__categories span {
  font-size: 20px;
  margin-left: 10px;
}
.header__categories i {
  font-size: 25px;
}
@media screen and (max-width: 1160px) {
  .header__categories span {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__categories {
    position: absolute;
  }
}
