.header__categories {
  display: flex;
  align-items: center;
  height: 40px;
}
.header__categories span {
  font-size: 20px;
}
.header__categories svg {
  height: 30px;
  width: 40px;
  cursor: pointer;
}
