.card__title {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
  width: 90%;
}
@media screen and (max-width: 1160px) {
  .card__title {
    font-size: 18px;
  }
}
