.dropdown__header {
  padding: 10px 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  user-select: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown__header i {
  font-size: 20px;
}
